/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --color-primary-color: ;
    --color-background-app: #008080;
    --color-text-primary: #1C1917;
    --color-button-hover: #BAB86C;
    --color-text-error: #FB2C36;
}